#!/bin/sh
/usr/sbin/adduser {{ vm_username }} sudo
mkdir -p /home/{{ vm_username }}/.ssh
/usr/bin/echo '{{ vm_ssh_public_key }}' >/home/{{ vm_username }}/.ssh/authorized_keys
/usr/bin/chown -R {{ vm_username }}:{{ vm_username }} /home/{{ vm_username }}/.ssh
/usr/bin/chmod 0700 /home/{{ vm_username }}/.ssh
/usr/bin/chmod 0600 /home/{{ vm_username }}/.ssh/authorized_keys 
/usr/bin/chmod 0600 /etc/doas.conf
/usr/bin/apt update
/usr/bin/apt install -y curl {{ firstboot_packages }}
/usr/bin/curl http://{{ netboot_host }}/installation_complete_$(ip addr | awk '/ether/{print $2}') >/dev/null 2>&1 || true
/usr/bin/sed -e 's/^@reboot.*$//' -i /etc/crontab
rm $0
