System hostname = {{ vm_hostname }}
Start sshd(8) by default = {{ 'yes' if vm_sshd_enabled else 'no' }}
Do you expect to run the X Window System = {{ 'no' if vm_headless else 'yes' }}
Setup a user = {{ vm_username }}
What timezone are you in = {{ vm_timezone }}
Encrypt the root disk = {{ vm_fde_mode if vm_fde_enabled else 'no' }}
New passphrase = {{ vm_fde_passphrase | default('none') }}
Re-type passphrase = {{ vm_fde_passphrase | default('none') }}
HTTP Server = {{ netboot_host }}
Server directory = {{ install_package_path }}
Set name(s) = +site*
Set name(s) = {{ '-' if vm_headless else '+' }}x*
Set name(s) = done
Checksum test for {{ install_package_filename }} failed. Continue = yes
Time appears wrong = yes
Continue without verification = yes
Password for root account = {{ root_password_hash.stdout | trim }}
Password for user = {{ user_password_hash.stdout | trim }}
Public ssh key for user = {{ vm_ssh_public_key }}
