cat <<-EOF >>/etc/rc.firsttime
syspatch
echo "Installing packages: {{ netboot_packages.openbsd | join(' ') }} {{ vm_packages | join(' ') }}"
pkg_add {{ netboot_packages.openbsd | join(' ') }} {{ vm_packages | join(' ') }}
echo "Updating installed packages"
pkg_add -u
echo "Reporting installation complete to {{ netboot_host }}"
ftp http://{{ netboot_host }}/installation_complete_$(ifconfig em0 | awk '/lladdr/{print $2}') >/dev/null 2>&1 || true
EOF
[ -e /etc/doas.conf ] || echo "permit keepenv persist :wheel" >/etc/doas.conf
chmod 0600 /etc/doas.conf
echo "https://cdn.openbsd.org/pub/OpenBSD" >/etc/installurl
chmod 0755 .
